site_name: Prompt Pattern Library
site_description: Canonical taxonomy + atomic prompt pattern reference

docs_dir: docs
site_dir: site

repo_url: https://github.com/CevenJKnowles/prompt-pattern-library
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - content.action.edit

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - tables
